#focused-youtube-area {
    text-align: center;
    font-size: xx-large;
}

#focused-youtube-area,
#focused-youtube-area .content {
    height: 100%;
}

#focused-youtube-area .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-manager.ytd-app {
    height: calc(100vh - 56px);
}

@media (prefers-color-scheme:dark) {

    /* Dark mode Styling*/
    #focused-youtube-area {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    #focused-youtube-area {
        color: black;
    }
}