@media (prefers-color-scheme:dark) {
    /* Dark mode Styling*/
    #focused-youtube-area {
        color: white;
    }
}

/* TODO: Make the text color white or black depending on whether dark theme is enabled. */
#focused-youtube-area {
    color: red;
    text-align: center;
    font-size: xx-large;
}

#focused-youtube-area,
#focused-youtube-area .content {
    height: 100%;
}

#focused-youtube-area .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-manager.ytd-app {
    height: calc(100vh - 56px);
}