#yt-focused-area {
    text-align: center;
    font-size: xx-large;
}

#yt-focused-area {
    color: #444343;
}

#yt-focused-area,
#yt-focused-area .content {
    height: 100%;
}

#yt-focused-area .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-manager.ytd-app {
    height: calc(100vh - 56px);
}
