/* 
    Styling for the pop up menu
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    background: linear-gradient(180deg, #7C3535 0%, #4A1616 100%);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    width: 250px;
    color: #B14040;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0 12px;
}

hr {
    width: 40%;
    background-color: #7B4040;
    border: none;
    height: 1px;
    margin-top: 3em;
}

header {
    text-align: center;
    padding-top: 12px;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 13px;
}

footer p {
    padding-top: 22px;
    padding-bottom: 5px;
    display: inline-block;
    color: #E25959;
}

.material-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.material-toggle input:empty {
    visibility: hidden;
    position: absolute;
}

.material-toggle input:empty~span {
    position: relative;
    float: left;
    width: 5em;
    max-width: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-toggle input:empty~span:before,
.material-toggle input:empty~span:after {
    position: absolute;
    display: block;
    content: ' ';
    -webkit-transition: all 250ms cubic-bezier(.4, 0, .2, 1);
    transition: all 250ms cubic-bezier(.4, 0, .2, 1);
}

.material-toggle input:empty~span:before {
    top: 3px;
    left: 0px;
    width: 32px;
    height: 13px;
    border-radius: 12px;
    background-color: #bdbdbd70;
}

input.switch:empty~span:after {
    top: -1px;
    left: -9px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

input:checked~label {
    color: #E25959;
}

.material-toggle input:checked~span:before {
    background-color: #71CE6970;
}

.material-toggle input:checked~span:after {
    left: 15px;
    background-color: #71CE69;
    border-color: #71CE69;
}

.material-toggle:first-of-type {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 9px;
}

.material-toggle:first-of-type .toggle {
    margin-top: 6px;
}

label[for="focused-toggle"] {
    text-align: center;
}

#focused-toggle~label {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.material-toggle:nth-of-type(2) {
    margin-top: 10px;
}